<section class="patron-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 mx-auto">
        <ul class="tags justify-content-center mb-12">
          <li>
            <div class="tag tag-accent">Atlet</div>
          </li>
          <li>
            <div class="tag tag-accent">Vícebojař</div>
          </li>
        </ul>
        <div class="text-center">
          <h1 class="h1 mb-12">Adam Sebastian Helcelet</h1>
          <div class="text-large mb-4">27. 10. 1991</div>
          <div class="text-large">
            Po absolvování několika vrcholových akcí, Adam svou první velkou bronzovou medaili
            vybojoval na Mistrovství Evropy U23 v Tampere v roce 2013, kde překonal hranici 8000
            bodů, a tak si zcela právem odvážel cenný kov z evropského šampionátu. I přes zdravotní
            problémy, se kterými se v přípravě potýkal, dokázal perfektně vyladit formu na seniorské
            Mistrovství Evropy v Amsterdamu v roce 2016. Ačkoliv se mu první závodní den zcela
            nevydařil, vybojoval díky znamenitým výkonům ve dni druhém stříbrnou medaili.
          </div>
        </div>
        <div class="o-content mt-lg-64">
          <p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/yoKRwBGAZbE?si=fdWRbYmZNDnIfvup"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </p>
          <h3>Olympijské hry</h3>
          <p>
            Skvělou formu si udržel až do Olympijských her v Rio de Janiero, kde tak mohl porovnat
            své síly s ostatními elitními desetibojaři. Na svou úspěšnou sezónu navázal ziskem
            bronzové medaile o rok později na HME v Bělehradě. Bohužel, po této úspěšné sérii
            několika sezón postihla Adama nelehká zranění. I tak se nevzdal a kvalifikoval se na
            další Olympijské hry v Tokiu, kde obstojně konkuroval světové elitě stejně tak jako na
            loňském Mistrovství Evropy v Mnichově.
          </p>
          <h3>Dlouholetá dráha sportovce</h3>
          <p>
            Díky své dlouholeté dráze profesionálního sportovce je Adam skvělým příkladem pro
            všechny malé sportovce. Pokud máte vizi a věříte sami v sebe, nic není nemožné. Proto
            jsme rádi, že i on přes svůj nabitý program vrcholového atleta si najde čas a tráví ho s
            dětmi na Kempu, kde jim předává své rady a všestranné dovednosti, kterými jako úspěšný
            desetibojař disponuje.
          </p>
          <h3>Úspěchy</h3>
          <ul>
            <li>Mistrovství Evropy 2016 - stříbro (desetiboj)</li>
            <li>
              <p>Halové mistrovství Evropy 2017 - bronz (desetiboj)</p>
            </li>
            <li>Mistrovství Evropy U23 2013 - bronz (desetiboj)</li>
            <li>Mistr ČR ve víceboji 2011</li>
            <li>Mistr a vícemistr ČR na HMČR ve vícebojích</li>
            <li>Účastník Olympijských her</li>
            <li>Osobní rekordy v desetiboji: 8335 bodů</li>
          </ul>
        </div>

        {% include "@components/gallerySlider/gallerySlider.twig" %}
      </div>
    </div>
  </div>
</section>
