<section class="heroSection">
  <div class="container">
    <div class="heroSection__inner">
      <div class="heroSection__img">
        <img src="images/ico/hero-1.svg" alt="" />
      </div>
      <div class="heroSection__info">
        <h1 class="h1 mb-4">Bavte se pohybem</h1>
        <p>Rozhýbejte děti na nejvšestrannějším sportovním kempu <strong>s olympioniky.</strong></p>
      </div>
      <div class="heroSection__img">
        <img src="images/ico/hero-2.svg" alt="" />
      </div>
    </div>
  </div>
</section>
