.posts {
  // overflow: hidden;
  padding-bottom: 40px;
  margin-top: 100px;
  position: relative;
  @include media-breakpoint-down(lg) {
    margin-top: 40px;
  }
  .slick-list {
    overflow: visible;
    margin-left: -12px;
    margin-right: -12px;
  }
  .slick-slide {
    padding: 0 12px;
  }
}

.posts__inner {
  padding-bottom: 10px;
}

.posts__inner::-webkit-scrollbar {
  height: 8px;
}

.posts__inner::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
