<section class="campsBoard">
  <div class="container">
    <div class="row g-4 z-3 position-relative justify-content-center">
      <div class="col-xl-3 col-lg-4">
        <div class="campsBoard__content">
          <h2 class="title-lg mb-3">Kempy a kroužky</h2>
          <p class="p3">
            Každý z našich táborů je jedinečný, nabízíme různé sportovní
            aktivity a programy, které
            <strong>jsou navrženy tak, aby vyhovovaly všem dětem</strong> bez
            ohledu na jejich sportovní zkušenosti nebo fyzickou kondici.
          </p>
          <ul class="filterCateg">
            <li>
              <a href="#" class="active">Vše</a>
            </li>
            <li>
              <a href="#">Kempy</a>
            </li>
            <li>
              <a href="#">Kroužky</a>
            </li>
          </ul>
          <form class="campsBoard__form">
            <label class="p3 mb-1 fw-semibold d-block" for="kraje">
              Vyberte kraje
            </label>
            <select class="form-select" id="kraje">
              <option selected>Vyberte</option>
              <option value="">Praha</option>
              <option value="">Středočeský kraj</option>
              <option value="">Středočeský kraj</option>
              <option value="">Středočeský kraj</option>
            </select>
          </form>
          <a href="#" class="btn btn--accent">
            <span>Všechny kempy</span> {% include "@images/arrow-right.svg"
            %}</a
          >
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="row g-4">
          <div class="col-xl-4 col-md-6">
            <div class="campItem">
              <ul class="tags">
                <li>
                  <div class="tag tag-green mb-2">Zbývá 12 míst</div>
                </li>
                <li>
                  <div class="tag mb-2">Kroužek</div>
                </li>
              </ul>
              <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
              <div class="p3 mb-1">14.07 - 18.02 2025</div>
              <div class="p3 text-secondary">Praha</div>
              <div class="d-flex flex-wrap gap-2 mt-4">
                <a href="#" class="btn"><span>Info</span></a>
                <a href="#" class="btn btn--reg"><span>Registrace</span></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="campItem">
              <ul class="tags">
                <li>
                  <div class="tag tag-green mb-2">Zbývá 12 míst</div>
                </li>
                <li>
                  <div class="tag mb-2">Kemp</div>
                </li>
              </ul>
              <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
              <div class="p3 mb-1">14.07 - 18.02 2025</div>
              <div class="p3 text-secondary">Praha</div>
              <div class="d-flex flex-wrap gap-2 mt-4">
                <a href="#" class="btn"><span>Info</span></a>
                <a href="#" class="btn btn--reg"><span>Registrace</span></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="campItem">
              <ul class="tags">
                <li>
                  <div class="tag tag-red mb-2">Zbývá 5 míst</div>
                </li>
                <li>
                  <div class="tag mb-2">Kemp</div>
                </li>
              </ul>
              <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
              <div class="p3 mb-1">14.07 - 18.02 2025</div>
              <div class="p3 text-secondary">Praha</div>
              <div class="d-flex flex-wrap gap-2 mt-4">
                <a href="#" class="btn"><span>Info</span></a>
                <a href="#" class="btn btn--reg"><span>Registrace</span></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="campItem">
              <ul class="tags">
                <li>
                  <div class="tag tag-green mb-2">Zbývá 12 míst</div>
                </li>
                <li>
                  <div class="tag mb-2">Kroužek</div>
                </li>
              </ul>
              <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
              <div class="p3 mb-1">14.07 - 18.02 2025</div>
              <div class="p3 text-secondary">Praha</div>
              <div class="d-flex flex-wrap gap-2 mt-4">
                <a href="#" class="btn"><span>Info</span></a>
                <a href="#" class="btn btn--reg"><span>Registrace</span></a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6">
            <div class="campItem">
              <ul class="tags">
                <li>
                  <div class="tag tag-red mb-2">Zbývá 5 míst</div>
                </li>
                <li>
                  <div class="tag mb-2">Kemp</div>
                </li>
              </ul>
              <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
              <div class="p3 mb-1">14.07 - 18.02 2025</div>
              <div class="p3 text-secondary">Praha</div>
              <div class="d-flex flex-wrap gap-2 mt-4">
                <a href="#" class="btn"><span>Info</span></a>
                <a href="#" class="btn btn--reg"><span>Registrace</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main__decore">
    <img src="images/content/main-bg.png" loading="lazy" alt="main bg" />
  </div>
</section>
