<div id="countdown-wrapper" class="timer" data-datetime="2025-03-30T10:00:00">
  Těšíme se už za
  <span class="timer__value" id="countdown-days"></span>
  dní a
  <span class="timer__value" id="countdown-hours"></span>
  hodin
</div>
