<div class="bts-popup" role="alert">
  <div class="bts-popup-container">
    <div class="popup-content o-content">
      <a href="#" class="popup-img">
        <iframe
          width="800"
          height="480"
          src="https://www.youtube.com/embed/JhdFEn-AqVE?si=NvwHU2NyXaLevwMm"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </a>

      <a
        href="#0"
        class="bts-popup-close img-replace btn btn--accent justify-content-center mt-3"
        >Nezobrazovat</a
      >
    </div>
  </div>
</div>
