.bts-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#152b48, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.bts-popup.is-visible {
  opacity: 1;
  z-index: 99999999;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  .container {
    height: 100%;
  }
}
.popup-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  // width: fit-content;
  transform: translateY(-50%);
  top: 50%;
  flex-direction: column;
  background-color: var(--color-light);
  box-shadow: rgba(10, 159, 235, 0.08) 0px 0.1875rem 0.375rem 0px,
    rgba(10, 159, 235, 0.07) 0px 0.625rem 0.625rem 0px,
    rgba(10, 159, 235, 0.04) 0px 1.4375rem 0.875rem 0px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 1200px;

  width: 100%;
}
.popup-img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bts-popup-container {
  max-width: 100%;
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  top: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
  border-radius: none;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  // padding-top: 40px;
}
.bts-popup-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.bts-popup-container p {
  color: white;
  padding: 10px 40px;
}
.bts-popup-container .bts-popup-button {
  padding: 5px 25px;
  border: 2px solid white;
  display: inline-block;
  margin-bottom: 10px;
}

.bts-popup-container a {
  color: var(--color-light);
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.bts-popup-container .bts-popup-close {
  position: relative;
}

.is-visible .bts-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .bts-popup-container {
    margin: auto auto;
  }
}
