<div class="bts-popup" role="alert">
  <div class="bts-popup-container">
    <div class="popup-content">
      <a href="#" class="popup-img">
        <img src="images/content/static-1.png" alt=""
      /></a>

      <a
        href="#0"
        class="bts-popup-close img-replace btn btn--accent justify-content-center mt-3"
        >Nezobrazovat</a
      >
    </div>
  </div>
</div>
