<section class="about-section">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-xl-4 col-lg-8 col-sm-10">
        <div class="about-section__wrapp">
          <div class="about-section__icon">
            <img src="images/ico/about-svg.svg" loading="lazy" alt="" />
          </div>
          <h3 class="title-lg mb-3">O nás</h3>
          <p class="text-large mb-32">
            Kemp Vítězů
            <strong>byl založen s láskou a vášní k pohybu</strong> dvojicí
            profesionálních atletů,
            <a href="#">Adamem a Denisou Helceletovými.</a>
          </p>
          <p class="text-large">
            Naším mottem je "Bavte se pohybem", a právě pod tímto heslem
            přinášíme dětem nezapomenutelné
            <strong> letní zážitky plné radostí, sportu a přátelství. </strong>
          </p>
          <a href="#" class="btn btn--accent mt-32">
            <span>Více o nás</span> {% include "@images/arrow-right.svg" %}</a
          >
        </div>
      </div>

      <div class="col-xl-4 col-lg-8 col-sm-10">
        <div class="about-section__wrapp">
          <h3 class="title-lg mb-3">Co nabízíme</h3>
          <p class="text-large mb-32">
            V našich příměstských táborech se
            <strong>každé dítě stává šampionem</strong> své vlastní cesty.
            Věříme, že sport je nejen o výkonu, ale především o zábavě,
            objevování vlastních limitů a budování přátelství.
          </p>
          <p class="text-large">
            Díky našemu přístupu k sportu a pohybu děti nejen
            <strong>zlepšují své fyzické dovednosti, </strong> ale také posilují
            své sebevědomí a učí se hodnotám jako jsou týmový duch, fair play a
            vzájemná podpora.
          </p>
          <div class="about-section__img mt-32">
            <img src="images/content/gallery/1.png" loading="lazy" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-8 col-sm-10">
        <div class="about-section__wrapp">
          <div class="about-section__img mb-32">
            <img src="images/content/gallery/2.png" loading="lazy" alt="" />
          </div>
          <h3 class="title-lg mb-3">Naše kempy</h3>
          <p class="text-large mb-32">
            Naše tábory jsou místem, kde
            <strong>děti zažívají nová dobrodružství,</strong> učí se novým
            dovednostem a nejvíce si užívají léto plné zábavy a přátelství.
          </p>
          <p class="text-large">
            Každý z našich táborů je jedinečný, nabízíme různé sportovní
            aktivity a programy, které jsou navrženy tak, aby
            <strong>vyhovovaly všem dětem</strong> bez ohledu na jejich
            sportovní zkušenosti nebo fyzickou kondici.
          </p>

          <a href="#" class="btn btn--accent mt-32">
            <span>Všechny naše kempy</span> {% include "@images/arrow-right.svg"
            %}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
