<div class="gallerySlider">
  <h4 class="h3">Fotogalerie</h4>
  <div id="gallerySlider" class="gallerySlider__inner">
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-1.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-2.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-2.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-1.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-2.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-1.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-2.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-1.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-2.png" loading="lazy" alt="photo" />
    </a>
    <a data-fslightbox="gallery" href="images/content/static-2.png" class="gallerySlider__item">
      <img src="images/content/static-1.png" loading="lazy" alt="photo" />
    </a>
  </div>
</div>
