<section class="reviewsSection">
  <div class="container">
    <div class="row g-32">
      <div class="col-xl-3 col-md-6">
        <a href="#" class="reviewsSection__item">
          <div class="reviewsSection__ava">
            <img src="images/content/ava-1.jpeg" alt="avatar" />
            <div class="reviewsSection__icon">
              <img src="images/ico/play.svg" alt="play" loading="lazy" />
            </div>
          </div>
          <div class="reviewsSection__info">
            <p>
              “Oba dva kluci byli nadšení, přestože jsou v různých věkových
              kategoriích.”
            </p>
            <div class="p3 mt-3 fw-bold">Benátky nad Jizerou</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#" class="reviewsSection__item">
          <div class="reviewsSection__ava">
            <img src="images/content/ava-2.jpeg" alt="avatar" />
            <div class="reviewsSection__icon">
              <img src="images/ico/play.svg" alt="play" loading="lazy" />
            </div>
          </div>
          <div class="reviewsSection__info">
            <p>
              “Dcera každý den chodila s plno zážitky, vyprávěla jak je to
              skvělý.”
            </p>
            <div class="p3 mt-3 fw-bold">Slaný</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#" class="reviewsSection__item">
          <div class="reviewsSection__ava">
            <img src="images/content/ava-3.jpeg" alt="avatar" />
            <div class="reviewsSection__icon">
              <img src="images/ico/play.svg" alt="play" loading="lazy" />
            </div>
          </div>
          <div class="reviewsSection__info">
            <p>
              “Líbilo se jim, že si mohli vyzkoušet různé atletické disciplíny.”
            </p>
            <div class="p3 mt-3 fw-bold">Čelákovice</div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#" class="reviewsSection__item">
          <div class="reviewsSection__ava">
            <img src="images/content/ava-4.jpeg" alt="avatar" />
            <div class="reviewsSection__icon">
              <img src="images/ico/play.svg" alt="play" loading="lazy" />
            </div>
          </div>
          <div class="reviewsSection__info">
            <p>“Vidět její vzory, olympijské vítěze byla velká motivace.”</p>
            <div class="p3 mt-3 fw-bold">Rudná</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
