.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
.tag {
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
  background: var(--color-secondary-disabled);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  width: fit-content;
  font-weight: 600;
}
.tag-accent {
  color: var(--color-text-accent);
  border: 1px solid var(--color-accent-border);
  background: var(--color-accent-disabled);
}
.tag-red {
  border: 1px solid var(--color-border-red);
  color: var(--color-text-red);
  background: var(--color-bg-red);
}
.tag-green {
  border: 1px solid var(--color-border-success);
  color: var(--color-text-success);
  background: var(--color-bg-success);
}
