<section class="registrationCamp">
  <div class="container">
    <h1 class="h1 text-center mb-lg-64">Registrace</h1>
    <div class="registrationCamp__wrapp">
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="validationCustom" class="form-label mb-1 d-block fw-semibold">
            Jakého kempu se chcete účastnit?</label
          >
          <select class="form-select" id="validationCustom" required>
            <option selected disabled value="">Vyberte kemp</option>
            <option>Po 03.02 - 09.06.2025 - Rudná 2025 (4 390 Kč)</option>
            <option>Kemp 2</option>
            <option>Kemp 3</option>
            <option>Kemp 4</option>
            <option>Kemp 5</option>
          </select>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>

        <div class="col-sm-6">
          <button class="btn btn--dark w-100 justify-content-center mb-12" disabled type="submit">
            <span>Již jsem se registroval dříve</span>
          </button>
          <div class="p4 fw-semibold">
            V dalším kroku zadáte rodné číslo a nemusíte tak vyplňovat registrační formulář.
          </div>
        </div>
        <div class="col-sm-6">
          <button class="btn btn--dark w-100 justify-content-center mb-12" disabled type="submit">
            <span>Budu se registrovat poprvé</span>
          </button>
          <div class="p4 fw-semibold">Nová registrace, je nutné vyplnit všechny povinné údaje.</div>
        </div>
      </form>
    </div>
  </div>
</section>
