<section class="partners-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <h1 class="h1 text-center mb-4">Partneři</h1>

        <h2 class="h3 mb-3">Generální Partner</h2>
        <div class="row mb-3 justify-content-center">
          <div class="col-10 col-sm-7 col-md-7 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-1.png" alt="partner" />
              </a>
            </div>
          </div>
        </div>
        <h3 class="h3 mb-3">Premium partner</h3>
        <div class="row mb-3 justify-content-center">
          <div class="col-10 col-sm-7 col-md-7 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-2.png" alt="partner" />
              </a>
            </div>
          </div>
        </div>
        <h3 class="h3 mb-3">Významní partneři</h3>
        <div class="row mb-3 justify-content-center">
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-4.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-5.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-1.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-2.png" alt="partner" />
              </a>
            </div>
          </div>
        </div>
        <h3 class="h3 mb-3">Partneři</h3>
        <div class="row justify-content-center">
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-2.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-4.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-2.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-1.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-3.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-4.png" alt="partner" />
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div
              class="partners-section__item d-flex align-items-center justify-content-center p-3 p-lg-4"
            >
              <a href="#" target="_blank" class="partners-section__link">
                <img src="images/content/partners/p-5.png" alt="partner" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
