<section class="archive-section">
  <div class="container">
    <h1 class="h1 text-center mb-lg-32 mb-4">Kempy 2025</h1>
    <div class="archive-section__menu">
      <form class="archive-section__select">
        <label class="p3 mb-1 fw-semibold d-block" for="kraje">
          Vyberte kraje
        </label>
        <select class="form-select" id="kraje">
          <option selected>Vyberte</option>
          <option value="">Praha</option>
          <option value="">Středočeský kraj</option>
          <option value="">Středočeský kraj</option>
          <option value="">Středočeský kraj</option>
        </select>
      </form>
      <ul class="filterCateg">
        <li>
          <a href="#" class="active">Vše</a>
        </li>
        <li>
          <a href="#">Kempy</a>
        </li>
        <li>
          <a href="#">Kroužky</a>
        </li>
      </ul>
    </div>
    <div class="row g-4">
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-green mb-2">Zbývá 12 míst</div>
          <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-red mb-2">Zbývá 5 míst</div>
          <div class="h5 mb-1">Bechyně 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-red mb-2">Zbývá 5 míst</div>
          <div class="h5 mb-1">Bechyně 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-green mb-2">Zbývá 12 míst</div>
          <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-red mb-2">Zbývá 5 míst</div>
          <div class="h5 mb-1">Bechyně 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-green mb-2">Zbývá 12 míst</div>
          <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-red mb-2">Zbývá 5 míst</div>
          <div class="h5 mb-1">Bechyně 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-green mb-2">Zbývá 12 míst</div>
          <div class="h5 mb-1">Náměšť nad Oslavou 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="campItem">
          <div class="tag tag-red mb-2">Zbývá 5 míst</div>
          <div class="h5 mb-1">Bechyně 2025</div>
          <div class="p3 mb-1">14.07 - 18.02 2025</div>
          <div class="p3 text-secondary">Praha</div>
          <div class="d-flex flex-wrap gap-2 mt-4">
            <a href="#" class="btn"><span>Info</span></a>
            <a href="#" class="btn btn--reg"><span>Registrace</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
