<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="header__logo" href="">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"> Kempy a kroužky </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Info </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"> Patroni </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Reference </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Galerie </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Partneři </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Akce </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Kariéra </a>
          </li>
        </ul>
      </div>

      <a href="#" class="btn btn--accent">
        {% include "@images/plus.svg" %}<span>Registrace</span></a
      >
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </nav>
  </div>
</header>
