<ul class="gallery">
  <li>
    <a
      data-source="/kemp_vitezu/build/ajax-gallery.json"
      data-gallery-id="1"
      href="#"
      class="galleryItem"
    >
      <img src="images/content/gallery/1.png" loading="lazy" alt="" />

      <div class="galleryItem__info">
        <div class="galleryItem__info-box">
          <div class="h5">Humpolec</div>
          <p class="p3 mt-1">154 fotek</p>
        </div>
        <div class="galleryItem__icon">
          <img src="images/ico/arrow-right.svg" alt="right" />
        </div>
      </div>
    </a>
  </li>
  <li>
    <a
      data-source="/kemp_vitezu/build/ajax-gallery.json"
      data-gallery-id="1"
      href="#"
      class="galleryItem"
    >
      <img src="images/content/gallery/3.png" loading="lazy" alt="" />
      <div class="galleryItem__info">
        <div class="galleryItem__info-box">
          <div class="h5">Humpolec</div>
          <p class="p3 mt-1">154 fotek</p>
        </div>
        <div class="galleryItem__icon">
          <img src="images/ico/arrow-right.svg" alt="right" />
        </div>
      </div>
    </a>
  </li>
  <li>
    <a
      data-source="/kemp_vitezu/build/ajax-gallery.json"
      data-gallery-id="1"
      href="#"
      class="galleryItem"
    >
      <img src="images/content/gallery/2.png" loading="lazy" alt="" />
      <div class="galleryItem__info">
        <div class="galleryItem__info-box">
          <div class="h5">Humpolec</div>
          <p class="p3 mt-1">154 fotek</p>
        </div>
        <div class="galleryItem__icon">
          <img src="images/ico/arrow-right.svg" alt="right" />
        </div>
      </div>
    </a>
  </li>
  <li>
    <a
      data-source="/kemp_vitezu/build/ajax-gallery.json"
      data-gallery-id="1"
      href="#"
      class="galleryItem"
    >
      <img src="images/content/gallery/4.png" loading="lazy" alt="" />
      <div class="galleryItem__info">
        <div class="galleryItem__info-box">
          <div class="h5">HumpolecHumpolec</div>
          <p class="p3 mt-1">154 fotek</p>
        </div>
        <div class="galleryItem__icon">
          <img src="images/ico/arrow-right.svg" alt="right" />
        </div>
      </div>
    </a>
  </li>
  <li>
    <a
      data-source="/kemp_vitezu/build/ajax-gallery.json"
      data-gallery-id="1"
      href="#"
      class="galleryItem"
    >
      <img src="images/content/gallery/1.png" loading="lazy" alt="" />
      <div class="galleryItem__info">
        <div class="galleryItem__info-box">
          <div class="h5">Humpolec</div>
          <p class="p3 mt-1">154 fotek</p>
        </div>
        <div class="galleryItem__icon">
          <img src="images/ico/arrow-right.svg" alt="right" />
        </div>
      </div>
    </a>
  </li>
</ul>
