<ul class="gallery">
  <li>
    <a data-fslightbox="gallery" href="#vimeo" class="galleryItem">
      <img src="images/content/gallery/1.png" loading="lazy" alt="" />

      <div class="galleryItem__play">
        <img src="images/ico/play.svg" alt="" />
      </div>
    </a>
  </li>
  <li>
    <a data-fslightbox="gallery" href="#vimeo" class="galleryItem">
      <img src="images/content/gallery/3.png" loading="lazy" alt="" />
      <div class="galleryItem__play">
        <img src="images/ico/play.svg" alt="" />
      </div>
    </a>
  </li>
  <li>
    <a data-fslightbox="gallery" href="#vimeo" class="galleryItem">
      <img src="images/content/gallery/2.png" loading="lazy" alt="" />
      <div class="galleryItem__play">
        <img src="images/ico/play.svg" alt="" />
      </div>
    </a>
  </li>
  <li>
    <a data-fslightbox="gallery" href="#vimeo" class="galleryItem">
      <img src="images/content/gallery/4.png" loading="lazy" alt="" />
      <div class="galleryItem__play">
        <img src="images/ico/play.svg" alt="" />
      </div>
    </a>
  </li>
  <li>
    <a data-fslightbox="gallery" href="#vimeo" class="galleryItem">
      <img src="images/content/gallery/1.png" loading="lazy" alt="" />
      <div class="galleryItem__play">
        <img src="images/ico/play.svg" alt="" />
      </div>
    </a>
  </li>
</ul>
<iframe
  id="vimeo"
  src="https://player.vimeo.com/video/22439234"
  width="1920px"
  height="1080px"
  frameBorder="0"
  allow="autoplay; fullscreen"
  allowFullScreen
></iframe>
