<div class="partners">
  <div class="container">
    <div class="row justify-content-center align-items-center partners__inner">
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img src="images/content/partners/p-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img
            src="https://fcslovanhb.esports.cz/adds/db_partners/logos/4.jpeg?1636939894"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#">
          <img
            src="https://fcslovanhb.esports.cz/adds/db_partners/logos/7.jpg?1490799955"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
