<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="text-large">
        2025 © Kemp vítězů & <a href="https://esportsmedia.cz/" target="_blank">eSportsmedia</a>
      </div>
      <ul class="footer-social">
        <li>
          <a href="#" target="_blank">
            <img src="images/ico/fb.svg" loading="lazy" alt="facebook" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/ico/instagram.svg" loading="lazy" alt="instagram" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
