<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/static-1.png" loading="lazy" alt="post" />
  </div>
  <ul class="tags">
    <li>
      <div class="tag">Píšou o nás</div>
    </li>
    <li>
      <div class="tag">isport.cz</div>
    </li>
  </ul>
  <h4 class="h4">Helcelet pořádá dětské kempy: Jsou slabé a tloustnou. Peníze? Směšný</h4>
  <div class="text-secondary p4 mt-1">06.03.2024</div>
</a>
