:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-border: #c3c9d1;
  --color-secondary-disabled: #e2e5eb;

  --color-accent-border: #b9e4fe;
  --color-accent-disabled: #e0f1fe;
  --color-text-accent: #0078bf;
  --color-text-accent-pressed: #065586;


  --color-text-success: #00823e;
  --color-border-success: #9dcba8;
  --color-bg-success: #d8eddc;

  --color-text-red: #c32518;
  --color-border-red: #f5a79a;
  --color-bg-red: #fddad5;

  --color-brand-500: rgba(12, 159, 235, 1);

  --font-primary: "Open Sans", serif;
  --color-text-secondary: #626d7c;
  --color-text-muted: #a2abb8;

  --shadow-1: 0px 3px 6px 0px rgba(10, 159, 235, 0.08),
    0px 10px 10px 0px rgba(10, 159, 235, 0.07),
    0px 23px 14px 0px rgba(10, 159, 235, 0.04);
}
