{% extends "@components/base/base.twig" %}

{% set title = "01.0_homepage" %}

{% block main %}
<div class="base">
   {% include "@components/header/header.twig" %}
   <main class="main" aria-label="Hlavní obsah">
     
   </main>
   {% include "@components/footer/footer.twig" %}
 </div>

{% endblock %}
