{% extends "@components/base/base.twig" %} {% set title = "02.0_static" %} {%
block main %}

<div class="base">
  {% include "@components/popup-window/popup-video.twig" %} {% include
  "@components/header/header.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="staticPage">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
            <h1 class="h1 text-center mb-4">Pojď do toho s námi!</h1>
            <div class="text-large text-center">
              Kemp vítězů se rok od roku rozrůstá nejen počtem pravidelných
              letních kempů, ale také v rámci mapy naší České republiky. A s tím
              vším souvisí i růst našeho týmů. Jsem kolektiv mladých lidí, pro
              které je sportovní duch a filozofie fair-play na prvním místě, a
              to jak směrem k dětem, tak vzájemně mezi sebou.
            </div>

            <div class="o-content mt-lg-64">
              <div class="row gy-lg-0 g-4 mb-lg-48">
                <div class="col-lg-6">
                  <img
                    src="images/content/static-1.png"
                    loading="lazy"
                    alt="image"
                  />
                </div>
                <div class="col-lg-6">
                  <img
                    src="images/content/static-2.png"
                    loading="lazy"
                    alt="image"
                  />
                </div>
              </div>
              <h3>Pojď do toho s námi!</h3>
              <p>
                Každé prázdniny rozjíždíme po celé ČR šňůru našich kempů a
                aktuálně hledáme dva technické pracovníky na plný úvazek v
                červenci a srpnu 2024. Práce je vhodná pro studenty. Chceme mezi
                sebou technicky zdatné a spolehlivé kolegy, a především
                pozitivně naladěné osobnosti.
              </p>
              <div class="row my-lg-48">
                <div class="col-lg-6">
                  <h3>Náplň práce</h3>
                  <ul>
                    <li>
                      převoz a distribuce materiálu a zázemí pro sportovní kempy
                    </li>
                    <li>komunikace se správci areálu</li>
                    <li>nákupy drobného materiálu a jejich distribuce</li>
                    <li>stavba a demontáž stanu 3x9m</li>
                    <li>cestování dodávkou napříč ČR</li>
                    <li>největší vytíženost neděle, pondělí a pátek</li>
                    <li>práce na denní směny</li>
                    <li>podpora trenérského týmu na místě</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <h3>Co od tebe očekáváme?</h3>
                  <ul>
                    <li>dobré řidičské schopnosti, průkaz sk. B</li>
                    <li>technická zdatnost</li>
                    <li>samostatnost</li>
                    <li>zodpovědnost</li>
                    <li>schopnost systematicky a logisticky přemýšlet</li>
                  </ul>
                </div>
              </div>
              <h3>Na koho se obrátit?</h3>
              <p>
                Je to velmi jednoduché, napiš na e-mail
                <a href="mailto:info@kempvitezu.cz">info@kempvitezu.cz</a>,
                představ se nám a sděl nám, co tě motivuje k práci pro Kemp
                vítězů. A určitě nezapomeň přiložit svůj strukturovaný
                životopis. Budeme se těšit!
              </p>
              <h3>Jak přímo takový Kemp probíhá?</h3>
              <p>
                Začínáme tedy každý den rozehřátím, po kterém následuje trénink
                ve skupinách podle věku a výkonnosti. Vaše děti budou v rukou
                zkušených trenérů a trenérek, mezi něž se řadí i úspěšní
                sportovci. Po dopoledním tréninku je čas na oběd. Dbáme na to,
                aby bylo jídlo pro děti dobře stravitelné, výživné, ale zároveň
                jim chutnalo a nebyly hladové. Čas po obědě patří klidu,
                odpočinku a taky angličtině, kterou zábavnou formou
                procvičujeme.
              </p>
              <div class="row my-lg-48">
                <div class="col-lg-6">
                  <h3>Náplň práce</h3>
                  <ol>
                    <li>
                      převoz a distribuce materiálu a zázemí pro sportovní kempy
                    </li>
                    <li>komunikace se správci areálu</li>
                    <li>nákupy drobného materiálu a jejich distribuce</li>
                    <li>stavba a demontáž stanu 3x9m</li>
                    <li>cestování dodávkou napříč ČR</li>
                    <li>největší vytíženost neděle, pondělí a pátek</li>
                    <li>práce na denní směny</li>
                    <li>podpora trenérského týmu na místě</li>
                  </ol>
                </div>
                <div class="col-lg-6">
                  <h3>Co od tebe očekáváme?</h3>
                  <ol>
                    <li>dobré řidičské schopnosti, průkaz sk. B</li>
                    <li>technická zdatnost</li>
                    <li>samostatnost</li>
                    <li>zodpovědnost</li>
                    <li>schopnost systematicky a logisticky přemýšlet</li>
                  </ol>
                </div>
              </div>
              <p>
                Začínáme tedy každý den rozehřátím, po kterém následuje trénink
                ve skupinách podle věku a výkonnosti. Vaše děti budou v rukou
                zkušených trenérů a trenérek, mezi něž se řadí i úspěšní
                sportovci. Po dopoledním tréninku je čas na oběd. Dbáme na to,
                aby bylo jídlo pro děti dobře stravitelné, výživné, ale zároveň
                jim chutnalo a nebyly hladové. Čas po obědě patří klidu,
                odpočinku a taky angličtině, kterou zábavnou formou
                procvičujeme.
              </p>
              <p>
                Nicméně je nutno podotknout, že nudná rutina je něco, co nás
                opravdu nebaví. A proto každý den na kempu je něčím zpestřený.
                Psát bychom o tom mohli ještě dlouho, ale osobnímu zážitku se
                nevyrovná. Našim cílem je, aby děti alespoň na týden odložily
                mobilní telefony a počítače, zamilovaly se do sportu a každý
                večer se těšily na ráno, kdy se zase sejdou na stadionu s novými
                kamarády, našimi trenéry a sportovci.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="main__decore">
      <img src="images/content/main-bg.png" loading="lazy" alt="main bg" />
    </div>
  </main>
  {% include "@components/gallery/gallery.twig" %} {% include
  "@components/posts/posts.twig" %} {% include
  "@components/partners/partners.twig" %} {% include
  "@components/footer/footer.twig" %}
</div>

{% endblock %}
