{% extends "@components/base/base.twig" %} {% set title = "06.0_camp-detail" %} {% block main %}

<div class="base">
  {% include "@components/header/header.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    {% include "@components/camp-detail/camp-detail.twig" %}

    <div class="main__decore">
      <img src="images/content/main-bg.png" loading="lazy" alt="main bg" />
    </div>
  </main>
  {% include "@components/gallery/gallery.twig" %} {% include "@components/posts/posts.twig" %} {%
  include "@components/partners/partners.twig" %} {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
