<a href="#" class="patronItem">
  <div class="patronItem__img">
    <img src="images/content/patron.png" loading="lazy" alt="patron" />
  </div>
  <h2 class="h3 text-center">Denisa Helceletová (Rosolová)</h2>
  <ul class="tags">
    <li>
      <div class="tag tag-accent">Atletka</div>
    </li>
    <li>
      <div class="tag tag-accent">Sprinterka</div>
    </li>
    <li>
      <div class="tag tag-accent">Překážkářka</div>
    </li>
  </ul>
</a>
